%h2= page.title
%section
	- locals[:posts].each do |post|
		%article
			%h3
				%a{:href => "/post/#{slug(post[:title])}"}= post[:title]
			%small
				by
				%a{:href => "/author/#{slug(post[:author])}"}= post[:author]
			%p= post[:preview]
			%a{:href => "/post/#{slug(post[:title])}", :target => '_blank'} View Post&nbsp;&raquo;