%html
	%head
		%title= meta.title
		%meta{:charset => 'utf8'}
		%meta{:name => 'description', :content => meta.desc}
		- external_stylesheet_url = 'https://unpkg.com/awsm.css/dist/awsm.min.css'
		%link{:href => external_stylesheet_url, :rel => 'stylesheet'}
		%link{:href => '/css/index.css', :rel => 'stylesheet'}
		%link{:href => '/css/components/post.css', :rel => 'stylesheet'}
	%body
		= haml partial('header'), :locals => {:app => app}
		%main
			%section
				%article{:id => article.id, :class => 'post'}
					= haml partial('post_header'), :locals => {:app => app, :article => article}
					= yield
		= haml partial('footer')